.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.calendar {
  padding: 20px;
  margin-bottom: 20px;
}

.calendar-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end; /* 버튼을 오른쪽으로 이동 */
}

.reserve-button,
.edit-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.share-button,
.summary-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.divider {
  margin: 20px 0;
}

.meeting-list {
  list-style-type: none;
  padding: 20;
}

.meeting-item {
  margin-bottom: 10px;
}

